<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright ©2009 Funtrench Limited. -->
<!-- Essential configuration for the Eve Class -->
<configuration>
    <!-- The values under each section should be in the format
            <value valueName="Item">String value of item</value>
            <bvalue valueName="Item">Boolean Integer value of item</bvalue>
            <fvalue valueName="Item">Float value of item</fvalue>
            <ivalue valueName="Item">Integer value of item</ivalue>
    -->
    <section Name="About">
        <!-- Game ID section -->
        <!-- You can put as many values as you like but they appear as
             you specify in displayOrder which should be a comma-separated
             sequence. The colons will be put for you in the format
             [Item: Value of Item]. At the very least put the game title
             and author here -->
        <value valueName="Title">Advanced II Eve Sample Client</value>
        <value valueName="Author">Project Eden Development Team</value>
        <value valueName="Company">Funtrench Limited</value>
        <value valueName="Legal Copyright">(C)2009 Funtrench Limited</value>
        <value valueName="Genre">Eden3D World Client</value>
        <value valueName="Music">Enter the Cave - New Cave</value>
        <value valueName="displayOrder">Title,Author,Company,Legal Copyright,Genre,Music</value>
    </section>
    <section Name="Keys">
        <!-- Key mappings section
             Please specify any unique mappings for processing
        -->
        <value valueName="forward">arrow_up</value>
        <value valueName="backward">arrow_down</value>
        <value valueName="turnleft">arrow_left</value>
        <value valueName="turnright">arrow_right</value>
    </section>
    <section Name="Startup">
        <!-- Startup settings section -->
        <subsection Name="WorldDetails">
            <!-- The world type - file-based geometry or heightfield-based
                terrain. -->
            <ivalue valueName="worldType">1</ivalue>
            <!-- Details about the main world geometry. -->
            <value valueName="terrainData">plane.xml</value>
            <fvalue valueName="scaleX">1.0</fvalue>
            <fvalue valueName="scaleY">1.0</fvalue>
            <fvalue valueName="scaleZ">1.0</fvalue>
            <!-- initial position -->
            <fvalue valueName="posX">-60.0</fvalue>
            <fvalue valueName="posY">-20.0</fvalue>
            <fvalue valueName="posZ">0.0</fvalue>
            <!-- Whether to enable physics -->
            <ivalue valueName="enablePhysics">0</ivalue>
            <!-- The collision bitmask -->
            <ivalue valueName="collisionBM">1</ivalue>
            <!-- The preferred collision handler
                0 - CollisionHandlerPusher
                1 - CollisionHandlerEvent
                2 - PhysicsCollisionHandler
            -->
            <ivalue valueName="collisionHandler">0</ivalue>
            <!-- Mouse cursor visibility; we need the cursor because we are
                using it to select actors -->
            <ivalue valueName="showMouse">1</ivalue>
            <ivalue valueName="defaultFPS">90</ivalue>
            <!-- Visuals and Sounds Settings -->
            <ivalue valueName="visualsCount">4</ivalue>
            <ivalue valueName="playSound">1</ivalue>
            <!-- Use this to keep camera defaults -->
            <ivalue valueName="cameraDefaults">1</ivalue>
            <!-- Set to 0 to disable the modifiers section -->
            <ivalue valueName="enableModifiers">0</ivalue>
            <!-- For Eve we need to specify the initial main actor and the
                mouse button used for picking -->
            <value valueName="initialActor">Miranda</value>
            <!-- The preferred picking button
                mouse1 - Left mouse button down
                mouse2 - Middle mouse button down
                mouse3 - Right mouse button down
                mouse#-up - Specified mouse button up
            -->
            <value valueName="pickerButton">mouse3-up</value>
        </subsection>
        <subsection Name="Actors">
            <!-- For the Eve class we need to specify the actor config
                 files for the selectable actors. Just keep the valueName
                 "Item" unique for each, it will be ignored though it serves
                 as the dictionary key (has to be unique) -->
            <value valueName="avatar_1">Miranda.xml</value>
            <value valueName="avatar_2">Ralph.xml</value>
        </subsection>   
        <subsection Name="Visuals">
            <!-- Opening images and/or videos. -->
            <!-- If the screens are > 0 then the first thing must be the
                 names of the visuals in order of appearance 1 to n. -->
            <!-- You must specify valueName="screen_n" for ALL image resources -->     
            <!-- You must specify valueName="video_n" for ALL video resources -->
            <!-- You must specify a screen position for all visuals after the
                 filename - ':'-separated -->
            <value valueName="screen_1">screen1.png:0:0:0</value>
            <value valueName="screen_2">screen2.png:0:0:0</value>
            <value valueName="screen_3">screen3.png:0:0:0</value>
            <value valueName="video_4">video1.mpg:0:0:0</value>
            <!-- Use valueName="interval" exclusively -->
            <fvalue valueName="interval">2.0</fvalue>
        </subsection>
        <subsection Name="Sound">
            <!-- Opening music if any. playSound specifies whether there
                 is a startup sound (0 for NO). Here just the name of the file
                 and whether we play along with visuals or after them.
                 0 - sound plays from game startup
                 1 - sound plays after the opening visuals
            -->
            <!-- You must specify a sound volume for the sound after the
                 filename - ':'-separated -->
            <value valueName="music">sound1.mp3:0.5</value>
            <ivalue valueName="follows">1</ivalue>
        </subsection>    
    </section>
</configuration>