<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright ©2009 Funtrench Limited. -->
<!-- Essential configuration for the Genesis Class -->
<configuration>
    <!-- The values under each section should be in the format
            <value valueName="Item">String value of item</value>
            <bvalue valueName="Item">Boolean Integer value of item</bvalue>
            <fvalue valueName="Item">Float value of item</fvalue>
            <ivalue valueName="Item">Integer value of item</ivalue>
    -->
    <section Name="About">
        <!-- Game ID section -->
        <!-- You can put as many values as you like but they appear as
             you specify in displayOrder which should be a comma-separated
             sequence. The colons will be put for you in the format
             [Item: Value of Item]. At the very least put the game title
             and author here -->
        <value valueName="Title">Spin Genesis Sample Client</value>
        <value valueName="Author">Project Eden Development Team</value>
        <value valueName="Company">Funtrench Limited</value>
        <value valueName="Legal Copyright">(C)2009 Funtrench Limited</value>
        <value valueName="Genre">Eden3D World Client</value>
        <value valueName="Music">Enter the Cave - Spotted in the cave</value>
        <value valueName="displayOrder">Title,Author,Company,Legal Copyright,Genre,Music</value>
    </section>
    <section Name="Startup">
        <!-- Startup settings section -->
        <!-- The only essential subsection is WorldDetails. The rest do not
             have to exist.
             To omit Visuals, set visualsCount = 0
             To omit Sound, set playSound = 0
        -->
        <subsection Name="WorldDetails">
            <!-- The world type - file-based geometry or heightfield-based
                terrain. Because most worlds during development of Eden were
                file models, the comments below largely apply to such.
                0 - File-based geometry
                1 - Generated geometry (GeoMipMap or Tesselated)
            -->
            <ivalue valueName="worldType">0</ivalue>
            <!-- Details about the main world geometry. The file MUST be
                 in the geometry directory! You can omit the filename
                 extension if no conflicting names exist
                 We give the file name and the XYZ scaling to apply -->
            <value valueName="world">plane.egg.pz</value>
            <fvalue valueName="scaleX">0.75</fvalue>
            <fvalue valueName="scaleY">0.75</fvalue>
            <fvalue valueName="scaleZ">0.75</fvalue>
            <!-- initial position -->
            <fvalue valueName="posX">0.0</fvalue>
            <fvalue valueName="posY">0.0</fvalue>
            <fvalue valueName="posZ">0.0</fvalue>
            <!-- Whether to enable physics -->
            <ivalue valueName="enablePhysics">0</ivalue>
            <!-- The collision bitmask -->
            <ivalue valueName="collisionBM">1</ivalue>
            <!-- The preferred collision handler
                0 - CollisionHandlerPusher
                1 - CollisionHandlerEvent
                2 - PhysicsCollisionHandler
            -->
            <ivalue valueName="collisionHandler">0</ivalue>
            <!-- Mouse cursor visibility -->
            <ivalue valueName="showMouse">0</ivalue>
            <ivalue valueName="defaultFPS">90</ivalue>
            <!-- Visuals and Sounds Settings -->
            <ivalue valueName="visualsCount">3</ivalue>
            <ivalue valueName="playSound">1</ivalue>
            <!-- Use 1 to keep camera defaults. If this value is not 1 then
                 the Camera subsection MUST exist-->
            <ivalue valueName="cameraDefaults">1</ivalue>
        </subsection>
        <subsection Name="Visuals">
            <!-- Opening images and/or videos. -->
            <!-- If the screens are > 0 then the first thing must be the
                 names of the visuals in order of appearance 1 to n. -->
            <!-- You must specify valueName="screen_n" for ALL image resources -->     
            <!-- You must specify valueName="video_n" for ALL video resources -->
            <!-- You must specify a screen position for all visuals after the
                 filename - ':'-separated -->
            <value valueName="screen_1">screen1.png:0:0:0</value>
            <value valueName="screen_2">screen2.png:0:0:0</value>
            <value valueName="screen_3">screen3.png:0:0:0</value>
            <!-- Use valueName="interval" exclusively -->
            <fvalue valueName="interval">3.0</fvalue>
        </subsection>
        <subsection Name="Sound">
            <!-- Opening music if any. playSound specifies whether there
                 is a startup sound (0 for NO). Here just the name of the file
                 and whether we play along with visuals or after them.
                 0 - sound plays from game startup
                 1 - sound plays after the opening visuals
            -->
            <!-- You must specify a sound volume for the sound after the
                 filename - ':'-separated -->
            <value valueName="music">sound1.mp3:0.5</value>
            <ivalue valueName="follows">0</ivalue>
        </subsection>    
    </section>
</configuration>